<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.PUMzaliczenie.bankowosc">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bankowosc">
        <activity
            android:name=".history"
            android:exported="false" />
        <activity
            android:name=".historypage"
            android:exported="false" />
        <activity
            android:name=".transferinformation"
            android:exported="false" />
        <activity
            android:name=".childrenspage"
            android:exported="false" />
        <activity
            android:name=".transferspage"
            android:exported="false" />
        <activity
            android:name=".contactspage"
            android:exported="false" />
        <activity
            android:name=".addmoneypage"
            android:exported="false" />
        <activity
            android:name=".settingspage"
            android:exported="false" />
        <activity
            android:name=".limitspage"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/zaokraglenie" />

        <activity
            android:name=".registerpage"
            android:exported="false"
            android:label="Zarejestruj się do aplikacji!"
            android:parentActivityName=".defaultpage" />
        <activity
            android:name=".defaultpage"
            android:exported="true"
            android:label="Bankowość Elektroniczna - JBANK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginpage"
            android:exported="false"
            android:label="Zaloguj się do aplikacji!"
            android:parentActivityName=".defaultpage" />
        <activity
            android:name=".menu"
            android:exported="false" />
    </application>

</manifest>