.limiter {
    min-height: 100vh;
    width: 100%;
}

.login-form {
    background-color: var(--main-panel-color);
    max-width: 400px;
    width: 100%;
    padding: 4rem 3rem;
}

.submit-container {
    padding-top: 1rem;
}

.login-form h2, p {
    text-align: center;
}

.login-form h2 {
    padding-bottom: 4rem;
}

.login-form p {
    padding-top: 4rem;
}